
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/WebBanGiay/config/applicationhost.config
.vs/WebBanGiay/FileContentIndex/1b48099f-31fd-431d-b02f-b3210a1ee413.vsidx
WebBanGiay/obj/Debug/net6.0/WebBanGiay.assets.cache
WebBanGiay/obj/Debug/net6.0/WebBanGiay.GeneratedMSBuildEditorConfig.editorconfig
WebBanGiay/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
WebBanGiay/obj/Release/net6.0/WebBanGiay.AssemblyInfo.cs
WebBanGiay/obj/Release/net6.0/WebBanGiay.AssemblyInfoInputs.cache
WebBanGiay/obj/Release/net6.0/WebBanGiay.assets.cache
WebBanGiay/obj/Release/net6.0/WebBanGiay.GeneratedMSBuildEditorConfig.editorconfig
WebBanGiay/obj/Release/net6.0/WebBanGiay.GlobalUsings.g.cs
WebBanGiay/obj/Release/net6.0/WebBanGiay.RazorAssemblyInfo.cache
WebBanGiay/obj/Release/net6.0/WebBanGiay.RazorAssemblyInfo.cs
WebBanGiay/obj/Debug/net6.0/WebBanGiay.GeneratedMSBuildEditorConfig.editorconfig
WebBanGiay/obj/Debug/net6.0/WebBanGiay.assets.cache
.vs/WebBanGiay/FileContentIndex/0312fb34-1107-4db6-bb83-3115885b6809.vsidx
