@{
	ViewData["Title"] = "Register";
	Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
	

	<!-- Meta -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	
	<meta name="author" content="Xiaoying Riley at 3rd Wave Media">
	<link rel="shortcut icon" href="favicon.ico">

	<!-- FontAwesome JS-->
	<script defer src="~/assets/plugins/fontawesome/js/all.min.js"></script>

	<!-- App CSS -->
	<link id="theme-style" rel="stylesheet" href="~/assets/css/portal.css">

</head>

<body class="app app-signup p-0">
	<div class="row g-0 app-auth-wrapper">
		<div class="col-12 col-md-7 col-lg-6 auth-main-col text-center p-5">
			<div class="d-flex flex-column align-content-end">
				<div class="app-auth-body mx-auto">
					<div class="app-auth-branding mb-4"><a class="app-logo" href="index.html"><img style="    width: auto;height:40px" class="logo-icon me-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3a/T1_esports_logo.svg/450px-T1_esports_logo.svg.png?20220724144411" alt="logo"></a></div>
					<h2 class="auth-heading text-center mb-4">Đăng ký</h2>

					<div class="auth-form-container text-start mx-auto">
						<form class="auth-form auth-signup-form" method="post" action="/Account/Register">
							<div class="email mb-3">
								<label class="sr-only" for="signup-firstname">Họ</label>
								<input id="signup-firstname" name="FirstName" type="text" class="form-control signup-firstname" placeholder="Họ" required="required">
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="signup-lastname">Tên</label>
								<input id="signup-lastname" name="LastName" type="text" class="form-control signup-lastname" placeholder="Tên" required="required">
							</div>
							<div class="email mb-3">
								<label class="sr-only" for="signup-email">Email</label>
								<input id="signup-email" name="Email" type="email" class="form-control signup-email" placeholder="Email" required="required">
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="signup-password">Mật khẩu</label>
								<input id="signup-password" name="Password" type="password" class="form-control signup-password" placeholder="Mật khẩu" required="required">
							</div>
							<div class="password mb-3">
								<label class="sr-only" for="signup-confirmpassword">Xác nhận mật khẩu</label>
								<input id="signup-confirmpassword" name="ConfirmPassword" type="password" class="form-control signup-confirmpassword" placeholder="Xác nhận mật khẩu" required="required">
							</div>
							<div class="extra mb-3">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="RememberPassword">
									<label class="form-check-label" for="RememberPassword">
										Ghi nhớ mật khẩu
									</label>
								</div>
							</div><!--//extra-->

							<div class="text-center">
								<button type="submit" class="btn app-btn-primary w-100 theme-btn mx-auto">Đăng ký</button>
							</div>
						</form><!--//auth-form-->


						<div class="auth-option text-center pt-5">Bạn đã có tài khoản? <a class="text-link" asp-area="" asp-controller="Account" asp-action="Login">Đăng nhập</a></div>
					</div><!--//auth-form-container-->



				</div><!--//auth-body-->

				
			</div><!--//flex-column-->
		</div><!--//auth-main-col-->
		<div class="col-12 col-md-5 col-lg-6 h-100 auth-background-col">
			<div class="auth-background-holder" style="background-image: url('https://www.asphaltgold.com/cdn/shop/files/Adidas-Packshot-SM-1_960x960_crop_center.jpg?v=1729593482'); background-size: cover; background-position: center;">
			</div>
			<div class="auth-background-mask"></div>
			<div class="auth-background-overlay p-3 p-lg-5">
				<div class="d-flex flex-column align-content-end h-100">
					<div class="h-100"></div>
				</div>
			</div><!--//auth-background-overlay-->
		</div><!--//auth-background-col-->

	</div><!--//row-->


</body>
</html>

